* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0;
}

/*HEADER*/
.header {
  background-color: rgba(105, 105, 101, 0.219);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover; /*EVITA DEFORMACIONES*/
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.header h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

}
.icons .icon .fa-bell, .icons .icon .cerrar, .icons .icon .fa-user {
  font-size: 24px;
  color: #333;
  transition: color 0.3s ease;
}
.icons .icon .fa-bell:hover, .icons .icon .cerrar:hover, .icons .icon .fa-user:hover {
  color: #7e7a7a;
}

/*---------------------------------------------------------------*/

/* Estilos para el dropdown */
.dropdown-menu {
  border: none;
}
/*-----------------------------------------------------*/
/*CUERPO ESTILOS*/
.main {
  background-color: rgba(105, 105, 101, 0.219);
}
.main section{
  text-align: justify;
}
/*-----------------------------------------------------*/

.footer {
  background-color: darkgreen;
  color: white;
  padding: 10px;
}

/*RESPONSIVIDAD*/
@media (max-width: 768px) {
  .header h2 {
    text-align: center;
    font-size: 17px;
    color: rgb(0, 0, 0);
  }
  .header .icons {
    gap: 0.5rem;
  }
  .icons .icon{
    width: 30px;
    height: 30px;
  }
  
}
